/*Home page*/
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
    overflow-x: hidden;
    background-color: rgb(197, 245, 242);
    margin: 0;
    
}
#footer_social{
    display: flex;
    justify-content: end;
   


}
.footer_link #img1{
    width: 35px;
    height: 35px;
    margin: 5px;
}
.footer_link #img2{
    width: 35px;
    height: 35px;
    margin: 5px;
}
.footer_link #img3{
    width: 35px;
    height: 35px;
    margin: 5px;
}
#footer_title{
    text-decoration: dotted;
    color: chocolate;
    font-size: medium;
    font-family: sans-serif;
     border-right: 1px solid #f4f4f4;
}
.home_footer{
    background-color: white;
    padding-left: 30px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -22px;
}

.home_page_profile{
    display: block;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 80px;
  

}
.home_page_name{
    color: black;
    text-align: center;
    font-style: oblique;
    padding: 85px;
}
.home_page_quote{
    
    padding: 90px;
    color: rgb(71, 49, 6);
    
    
}
.home_page_audio{
    margin-top: 15px;
    padding: 60px;
    margin-bottom: 100px;
 
}


/*about me page*/

header{

    width: 100%;
    display: block;
    justify-content: end;
    background-color:white;
    position: relative ;
    margin-left: -5px;
    margin-right:0px;
    padding-right:20px;
    padding-left:5px;
    margin-top: -12px;
}
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    display: block;
    
}

nav ul li{
    padding: 0;
    text-transform: uppercase;

}
.menu a:hover{
    background-color: darkturquoise;

}
nav li a{
    display:block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    border-radius:  3px;
    font-size: 17px;
    color: black;
}
.header .menu{
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out;
}
.header .menu-icon{
    float: left ;
   padding: 30px 23px;
   position: relative;
   cursor: pointer;
   user-select: none;
}
.header .menu-icon .nav-icon{
    background-color: #333;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition:all .2s ease-out;

}
.header .menu-icon .nav-icon:before{
    
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn{
    display: none;
}
.header .menu-btn:checked ~ .menu{
    max-height:300px;
} 
.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}
@media (min-width:1023px){
    .header li{
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
       display: none; 
    }

}

.about_remark{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 450px;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    margin-left: 15px;
   
    

}
.about_remark_pic{
 
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:100px;
   
}
.about_Airport #note{
    font-size: medium;
    padding: 50px;
    padding-top: 1000px;
    
    
}
.about_Airport{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 450px;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    margin-left: 15px;
    
}
.about_remark #note{
    font-size: medium;
    padding: 50px;
    padding-top: 10px;
    margin-top: 100px;
    
}
.about_Airport_pic1{
    width: 350px;
    height: 350px;
    padding-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
   
}
h3{
    font-size: medium;
    padding: 50px;
    padding-top: 330px;

}
.about_memories{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 450px;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    padding-top: 1350px;

   
   
}
.pic5{
    width: 350px;
    height: 350px;
    transform: rotate(270deg);
    margin-top: 100px;
    margin-left: 80px;
    
}
.pic3{
    width: 350px;
    height: 350px;
    margin-right: 50px;
    margin-left: 80px;
    
   
}
.pic4{
    width: 350px;
    height: 350px;
    margin-right: 50px;
    margin-left: 80px;
    margin-top: 50px;
    

}
.about{
    margin-bottom: 3000px;
}

.about_footer{
        background-color: white;
        margin-top: 3000px;
        padding-left: 30px;
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: -22px;
        padding-right: 15px;
    }
@media (max-width: 350px) {
        .rmrk {
          flex-basis: 100%; 
        }
        .extd {
            flex-basis: 100%; 
          }
        .memories {
            flex-basis: 100%;
          }
      }

/*Resume page*/

.resume{
        padding-top: 100px;
        flex: 1; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
      }
.resume h1{
        padding-bottom: 45px;
        padding-left: 70px;
      }
.resume p,blockquote{
        
        padding-left:45px ;
        padding-right:45px ;
        padding-bottom: 50px;
    
      }
.resume blockquote{
        padding-left:65px ;
        padding-right:65px ;
      }
.resume_aside #ig{
        padding-left: 65px;
        padding-bottom:50px ;
        padding-right: 45px;
        width: 350px;
        height: 380px;
      }
    
.resume video{
        padding-left: 65px;
        width: 350px;
        height: 350px;
        padding-bottom: 50px;
      }
.resume figcaption{
    padding-bottom: 150px;
    padding-left: 50px;
}

.resume_footer{
    background-color: white;
    padding-left: 30px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -22px;
}

      /*Certificates page*/


.certificates_footer{
        background-color: white;
        margin-top: 350px;
        padding-left: 30px;
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: -22px;
        padding-right: 15px;
    }
.certificates{
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        margin-top: 100px;
        margin-left: 25px;
    }
.certificates p,h1{
    padding-bottom: 50px;
}
.certificates_table td{
    border: 2px solid black;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 25px;


}
.certificates_table{
    width: 1000px;
    margin-right:25px ;
    border-radius: 5px;
}


/*Contacts page*/


.contacts_form{
    display: flex;
    flex-direction: column;
}
.contacts_footer{
    background-color: white;
    margin-top: 900px;
    padding-left: 30px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -22px;
    padding-right: 15px;
}
.contacts_content{
display: flex;
flex-direction: column;
height:200px;
}
textarea{
margin-left: 50px;
width: 350px;
height: 150px;
}
.contacts_content #email{
margin-left: 50px;
margin-right: 125px;
}
.contacts_content #submit{
background-color: rgb(47, 248, 47);
padding: 10px;
margin-top: 35px;
margin-left: 150px;
margin-right: 150px;
}
.contacts_page_profile{
    display: block;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 80px;
}

@media only screen and (orientation:landscape) and (min-width:480px ) and (max-width:767px){
    /*home page*/
    .home_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
      }
      .home_page_profile{
        display: block;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        padding-top: 150px;
        padding-bottom: 150px;
        margin-left: 5px;
       
      
    
    }
      


      /*about page*/
      .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .about_remark{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 0px;
        justify-content: space-evenly;
        flex-direction: column;
        position: absolute;
        margin-top: 150px;
        
    
    }
    .about_Airport{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 80px;
        justify-content: space-evenly;
        flex-direction: column;
        position: relative;
        margin-top: 150px;
        margin-left: 100px;
    }
    
    .about_remark #note{
        font-size: medium;
        margin-left: -280px;
        padding-top: 10px;
       
        
    }
    .about_Airport #note{
        margin-top: 900px;
        font-size: medium;
        margin-left: -280px;
        padding-top: 10px;
        
        
    }
    h3{
        font-size: medium;
        
        padding-top: 100px;
    }
    .about_remark_pic{
 
        width: 200px;
        height: 200px;
        margin-right: 50px;
        margin-top:30px;
       
    }
    .about_Airport_pic1{
        width: 200px;
        height: 200px;
        margin-left: 10px;
        margin-top: 700px;
        margin-right: 50px;
       
    }
   
    .imgs img{
        margin-right:0;
        height:120px;
        width:120px;
    }
    .imgs{
        display:flex;
       
        
    }
    .pic4{
        padding-top: 25px;
        padding-right:40px;
        padding-left:0px;
    }
    .pic3{  
        padding-top:75px;
        padding-right:0px;
        margin-left:0px;
        
    }
    .pic5{
        margin-top:75px;
        padding-left:0;
    }
    h3{
        font-size: medium;
        padding: 50px;
        padding-top: 200px;
    }

    /*Resume page*/
    .resume{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
       
    }
    .resume_aside{
        margin-left: 50px;
        margin-top: 60px;
    }
    .resume_aside #ig{
        margin-bottom: 50px;
    }
    .resume_passage #ps{
        width: 350px;
       
    }
    .resume_passage{
        margin-left: 400px;

    }
    .resume video{
        padding-left: 45px;
        width: 350px;
        height: 350px;
        padding-bottom: 50px;
      }
      .resume h1{
        padding-bottom: 45px;
        padding-left: 75px;
        margin-top: -500px;
      }


      /*Certeficates page*/

      .certificates{
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
      }
      .certificates_table{        width: 1000px;
      }


      /*contact page*/
      .contacts_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 300px;
      }
      .contacts_page_profile{
        display: block;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        padding-top: 150px;
        padding-bottom: 150px;
        margin-left: 80px;
      }


    }

    @media only screen and  (min-width: 768px) and (max-width: 1023px) {
        /* home page */
        .home_page{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
        }
        .home_profile{
            display: block;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            padding-top: 150px;
            padding-bottom: 150px;
 
        
        }
        

        .home{
           
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /*about page*/
        .about_remark{
            display: flex;
            flex-wrap: wrap;
            height: 150px;
            width: 450px;
            justify-content: space-evenly;
            flex-direction: column;
            position: absolute;
            margin-top: 150px;
            
        
        }
        .about_Airport{
            display: flex;
            flex-wrap: wrap;
            height: 150px;
            width: 450px;
            justify-content: space-evenly;
            flex-direction: column;
            position: relative;
        }
        .about_Airport #note{
            margin-top: 800px;
            font-size: medium;
            padding-top: 310px;
           
            
        }
        .about_memories{
            display: flex;
            flex-wrap: wrap;
            height: 150px;
            width: 450px;
            justify-content: space-evenly;
            flex-direction: row;
            position: absolute;
            padding-top: 650px;
        
           
           
        }
        .about_Airport_pic1{
            width: 350px;
            height: 350px;
            margin-top: 1000px;
            margin-left: 50px;
            margin-right: 50px;
           
        }
       
        .imgs img{
            margin-right:0;
            height:200px;
            width:200px;
        }
        .imgs{
            display:flex;
            padding-left: 45%;
        }
        .pic4{
            padding-right:0px;
            margin-top: 10px;
        }
        .pic3{
            margin-top:10px;
            padding-right:0;
            margin-left: 200px;
            
        }
        .pic5{
            margin-top:60px;
        }
        h3{
            font-size: medium;
            padding: 60px;
            padding-top: 200px;
            margin-bottom: 100px;
        }
        

         /*Resume page*/

    .resume{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
       
    }
    .resume_aside{
        margin-left: 50px;
        margin-top: 55px;
    }
    .resume_aside #ig{
        margin-bottom: 50px;
    }
    .resume_passage #ps{
        width: 400px;
       
    }
    .resume_passage{
        margin-left: 200px;

    }
    .resume video{
        padding-left: 45px;
        width: 350px;
        height: 350px;
        padding-bottom: 50px;
        
      }
      .resume h1{
        padding-bottom: 45px;
        padding-left: 75px;
        margin-top: -750px;
      }
      
      /*certificates page*/

      .certificates{
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
      }
      .certificates_table{
        width: 1000px;
      }

      /*contacts page*/
      .contacts_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 300px;
       
      }
      .contacts_page_profile{
        display: block;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        padding-top: 150px;
        padding-bottom: 150px;
        margin-left: 80px;
      }


      }



@media only screen and (min-width:1024px){
    .home_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    
    .home_profile{
        display: block;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        padding-top: 150px;
        padding-bottom: 150px;

      
    
    }
    .home{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*about page*/
    .about_remark{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 450px;
        justify-content: space-evenly;
        flex-direction: column;
        position: absolute;
        margin-top: 150px;
        margin-left: 200px;
        
    }
        
    
    
    .about_Airport{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 450px;
        justify-content: space-evenly;
        flex-direction: column;
        position: relative;
        margin-left: 200px;
    }
    .about_Airport #note{
        margin-top: 800px;
        font-size: medium;
        padding-top: 310px;
       
        
    }
    .about_memories{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 450px;
        justify-content: space-evenly;
        flex-direction: row;
        position: absolute;
        padding-top: 650px;
    
       
       
    }
    .about_Airport_pic1{
        width: 350px;
        height: 350px;
        margin-top: 1000px;
        margin-left: 50px;
        margin-right: 50px;
       
    }
   
    .imgs img{
        margin-right:0;
        height:300px;
        width:300px;
    }
    .imgs{
        display:flex;
        padding-left: 45%;
    }
    .pic4{
        padding-right:px;
        margin-top: 10px;
    }
    .pic3{
        margin-top:10px;
        padding-right:0;
        margin-left: 650px;
        
    }
    .pic5{
        margin-top:60px;
    }
    h3{
        font-size: medium;
        padding: 60px;
        padding-top: 200px;
        margin-bottom: 100px;
    }

     /*Resume page*/
     .resume{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
       
    }
    .resume_aside{
        margin-left: 50px;
        margin-top: 125px;
    }
    .resume_aside #ig{
        margin-bottom: 50px;
    }
    .resume_passage #ps{
        width: 500px;
       
    }
    .resume_passage{
        margin-left: 700px;

    }
    .resume video{
        padding-left: 45px;
        width: 350px;
        height: 350px;
        padding-bottom: 50px;
      }
      .resume h1{
        padding-bottom: 75px;
        padding-left: 125px;
        margin-top: -800px;
      }

      /*certificates page*/
      .certificates{
        display: flex;
        flex-direction: column;
        overflow-x: visible;
        margin-left: 50px;
        padding-top: 150px;
        
      }
      .certificates_table{
        width: 1000px;
      }
/*contacts page*/

      .contacts_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 400px;
      }
      .contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      .contacts_page_profile{
        display: block;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        padding-top: 150px;
        padding-bottom: 150px;
        margin-left: 80px;
      }
}

  




